.device__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.cursor {
    position: absolute;
    pointer-events: none;
    user-select: none;
    left: -12px;
    top: -32px;

}

.cursor span {
    white-space: nowrap;
}

.cursor_dot {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgba(243, 28, 28, 0.877);
    position: "absolute";

   
}

// .app__container {


// }

.room__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    transform: translate(-50%, 0);

}