.app__container {
    // height: 100vh;
    // display: flex;
    // justify-content: center;
    // gap: 20px;
    // overflow-x: hidden;
    // overflow-y: hidden;
    // zoom: 100%;
}

.fixed {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    // pointer-events: none;
    // background-color: red;
    z-index: 4;
}


.cursor {
    position: absolute;
    pointer-events: none;
    user-select: none;
    left: -12px;
    top: -32px;
    z-index: 10;

}

.cursor span {
    white-space: nowrap;
}

.cursor_dot {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgba(243, 28, 28, 0.877);
    position: "absolute";
}

// .app__container {


// }

.room__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // z-index: 3;
}