.nav_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'JetBrains Mono', monospace;
}

.nav_links .nav_link {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 60px;
    border-radius: 5px;
    background-color: aliceblue;
}

.nav_links .nav_link:visited {
    color: rgb(0, 0, 0);
}

.nav_links .active {
    background-color:rgb(113, 236, 113);
}